.footer-container {
  background-color: #000;
  cursor: pointer;
}
.footer-container > h1 {
  color: #fff;
  font-weight: 400;
  text-align: start;
  margin-left: 5em;
  margin-top: 1em;
  width: 22%;
  font-size: 19px;
}
.social-media {
  margin-left: 8em;
  margin-top: 1em;
  color: #fff;
  transition: .3 all ease-in-out;
}
.social-media:hover {
  color: red;
}
.icon {
  padding: 0 8px;
  font-size: 20px;
  margin-bottom: 1em;
}
.horizantal {
  border: black;
}
@media only screen and (max-width: 960px) {
  .social-media {
    margin-left: 3em;
  }
  .footer-container > h1 {
    width: inherit;
    margin-left: 2.5em;
  }
}
